<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <in-slice></in-slice>
  <!--
  <in-date></in-date>
  <in-percent></in-percent>
  <in-decimal></in-decimal>
  <in-currency></in-currency>
  <in-lowercase></in-lowercase>
  -->
  <in-user class="beweis" [ngClass]="class2bind"></in-user>

</div>
<footer>
  <a href="https://www.linkedin.com/learning/instructors/saban-unlu" target="_blank">
    <img src="../assets/img/linkedin-logo.png" alt="linkedin">
  </a>
  <a href="https://www.nettrek.de/" target="_blank">
    <img src="../assets/img/logo.png" alt="netTrek">
  </a>
  <a href="https://github.com/netTrek/LinkedIn_Angular_Vertiefung" target="_blank">
    <img src="../assets/img/github.png" alt="github">
  </a>
</footer>
